/*
*
* apply styles hacks from FULL-HD and bigger
*
*/
@media only screen and (min-width: 1490px) 
{

    /*
	*
	* black header
	*
    */
    .Header {
        max-width: 1240px;
        margin: 0 auto;
    }

    .js-header-wrapper {
        background: #24292e;
    }

	/*
	*
	* main menu for project
	*
    */
    .pagehead > div, .pagehead > nav {
        max-width: 1280px;
        margin: 0 auto;
    }

    .pagehead {
        box-shadow: inset 0 -1px 0 #e1e4e8;
    }
}