/*
*
* apply styles hacks from FULL-HD and bigger
*
*/
@media only screen and (min-width: 1490px) 
{

    /*
	*
	* black header
	*
    */
    .Header {
        max-width: 1240px;
        margin: 0 auto;
    }

    .js-header-wrapper {
        background: #24292e;
    }

	/*
	*
	* main menu for project
	*
    */
    .pagehead > div, .pagehead > nav {
        max-width: 1280px;
        margin: 0 auto;
    }

    .pagehead {
        box-shadow: inset 0 -1px 0 #e1e4e8;
    }

	/*
	*
	* bring back hidden tabs: Insights, Settings
	*
    */
    #js-repo-pjax-container > div.pagehead.repohead.hx_repohead.readability-menu.bg-gray-light.pb-0.pt-3.border-0.mb-5 > nav > ul > li:nth-child(8) > a,
    #js-repo-pjax-container > div.pagehead.repohead.hx_repohead.readability-menu.bg-gray-light.pb-0.pt-3.border-0.mb-5 > nav > ul > li:nth-child(9) > a {
        visibility: visible !important;
    }

    #js-repo-pjax-container > div.pagehead.repohead.hx_repohead.readability-menu.bg-gray-light.pb-0.pt-3.border-0.mb-5 > nav > div {
        display: none;
    }
}