/*
*
* apply styles hacks from FULL-HD and bigger
*
*/
@media only screen and (min-width: 1490px) 
{

    /*
	*
	* black header
	*
    */
    .Header {
        max-width: 1240px;
        margin: 0 auto;
    }

    .js-header-wrapper {
        background: #24292e;
    }

	/*
	*
	* main menu for project
	*
    */
    .pagehead > div, .pagehead > nav {
        max-width: 1280px;
        margin: 0 auto;
    }

    .pagehead {
        box-shadow: inset 0 -1px 0 #e1e4e8;
    }

	/*
	*
	* bring back hidden tabs: Insights, Settings
	*
    */
    #js-repo-pjax-container > div.pagehead.repohead.hx_repohead.readability-menu.bg-gray-light.pb-0.pt-3.border-0.mb-5 > nav > ul > li > a {
        visibility: visible !important;
    }

    #js-repo-pjax-container > div.pagehead.repohead.hx_repohead.readability-menu.bg-gray-light.pb-0.pt-3.border-0.mb-5 > nav > div {
        display: none;
    }

    /**
    *
    * bring back table lines between files
    *
    */
    #js-repo-pjax-container > div.container-xl.clearfix.new-discussion-timeline.px-3.px-md-4.px-lg-5 > div > div.gutter-condensed.gutter-lg.d-flex.flex-column.flex-md-row > div.flex-shrink-0.col-12.col-md-9.mb-4.mb-md-0 > div.Box.mb-3 > div.js-details-container.Details > div.Details-content--hidden-not-important.js-navigation-container.js-active-navigation-container.d-md-block > div {
        border-bottom: 1px solid #e1e4e8;
    }
    #js-repo-pjax-container > div.container-xl.clearfix.new-discussion-timeline.px-3.px-md-4.px-lg-5 > div > div.gutter-condensed.gutter-lg.d-flex.flex-column.flex-md-row > div.flex-shrink-0.col-12.col-md-9.mb-4.mb-md-0 > div.Box.mb-3 > div.js-details-container.Details > div.Details-content--hidden-not-important.js-navigation-container.js-active-navigation-container.d-md-block > div:last-child {
        border-bottom: none;
    }
}