/*
*
* apply styles hacks from FULL-HD and bigger
*
*/
@media only screen and (min-width: 1490px) 
{


	/*
	*
	* core elements
	*
	*/
	#tsf {
		width: 990px !important;
		margin: 0 auto;
	}

	#hdtb-msb {
		max-width: 1280px;
		margin: 0 auto;
		float: none !important;
	}

	.big .mw {
		margin: 0 auto;
	}


	/*
	*
	* search results counter and tools
	*
	*/
	#appbar {
		max-width: 1280px;
		margin: 0 auto;
	}

	#hdtbMenus {
		text-align: center;
	}

	#XJDHvf {
		display: none;
	}

	/* drop-down item */
	.hdtbItm {
		text-align: left;
	}


}